{% extends "home-base.html" %}
{% block title%}
<title>Befit : about us</title>
{% endblock%}
{% block body%}
<section id="about-page">
   <div id="about">
      <h1>About Befit</h1>
      <h3>Short Profile</h3>
      <p>Launched in 2007, Befit is an online and mobile (iOS, Android) calorie and exercise tracker with over 10 million members worldwide. The average active member loses 1.4 pounds a week, and about 27 pounds total.
         <br> Befit guides your weight loss journey with accurate calorie counting, weight loss forecasting and personalized daily insights.
      </p>
      <br><br>
      <h3>Mission</h3>
      <p>Befit helps people achieve healthy and scientifically proven weight loss for a healthy living.
      </p>
      <br><br>
      <h3>Numbers & Facts</h3>
      <ul>
         <li>Over 10 million registered users</li>
         <li>Team of 18 employees (including 5 Registered Dietitians and Diabetes Educators)</li>
         <li>App Store user rating: 4.7, Google play: 4.6</li>
         <li>770,000 verified food labels in the database</li>
      </ul>
      <br><br>
      <h3>Where to Find Befit:</h3>
      <ul>
         <li>Website: <a href="#">https://www.befitplus.com</a></li>
         <li>Facebook: <a href="#">http://www.facebook.com/befitplus</a></li>
         <li>Instagram: <a href="#">https://instagram.com/befitplus</a></li>
         <li>Pinterest: <a href="#">http://pinterest.com/befitplus</a></li>
      </ul>
   </div>
</section>
{% endblock%}