{% extends "user-base.html" %}
{% block title%}
<title>Befit : Healthy recipes</title>
{% endblock%}
{% block body%}
<section id="fitness-blog" class="blogs-container">
   <div id="card1" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/Ry2di3qJzzM/maxresdefault.jpg">
         </div>
         <p>Low-Calorie Meal Prep Your Day</p>
      </a>
   </div>
   <div id="card2" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/ON5EzMbbxu8/maxresdefault.jpg">
         </div>
         <p>7 Healthy Egg Recipes For Weight Loss</p>
      </a>
   </div>
   <div id="card3" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/GDS1OVF46UY/maxresdefault.jpg">
         </div>
         <p>7 Healthy And Low Carb Recipes • Tasty</p>
      </a>
   </div>
   <div id="card4" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/g1xEhYGxiKo/maxresdefault.jpg">
         </div>
         <p>5 Easy Mediterranean Recipes </p>
      </a>
   </div>
   <div id="card5" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/nGOisp5UZPY/maxresdefault.jpg">
         </div>
         <p>5 vegan recipes EVERYONE needs to know!!!</p>
      </a>
   </div>
   <div id="card6" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/6xRFlqoz9aQ/maxresdefault.jpg">
         </div>
         <p>HEALTHY VEGAN MEAL PREP</p>
      </a>
   </div>
   <div id="card7" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/iS-eEv3uATU/maxresdefault.jpg">
         </div>
         <p >Super Lazy Vegan Snack Ideas! { healthy + easy }</p>
      </a>
   </div>
   <div id="card8" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/zmihwTg94g4/maxresdefault.jpg">
         </div>
         <p>13 Healthy Vegan Recipes For Weight Loss</p>
      </a>
   </div>
   <div id="card9" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/kiRMFTr6nTg/maxresdefault.jpg">
         </div>
         <p>Vegan Eggplant Lasagna Recipe (Gluten + Grain Free!)</p>
      </a>
   </div>
   <div id="card10" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/yqGtT0c5e2U/maxresdefault.jpg">
         </div>
         <p>One-Pot Vegan Dinners</p>
      </a>
   </div>
   <div id="card11" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/DV1OqgHb3jc/maxresdefault.jpg">
         </div>
         <p >How To Make a Vegan Curry</p>
      </a>
   </div>
   <div id="card12" class="cards">
      <a href="https://www.youtube.com/results?search_query=healthy+recipes" target="_blank" style="cursor: pointer;">
         <div class="vid">
            <img src="http://i3.ytimg.com/vi/LHVOtSyA3Uk/maxresdefault.jpg">
         </div>
         <p>Easy 10 MINUTE Vegan Meals </p>
      </a>
   </div>
</section>
{% endblock%}