<!DOCTYPE html>
<html>
   <head>
      <title>Befit : Start Your Weight Lose Journey Today!</title>
      <link rel="icon" href="../static/images/favicon.png" type="image/png" sizes="16x16">
      <script src="https://kit.fontawesome.com/ebde7b45ee.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="../static/css/style.css">
   </head>
   <body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <section id="mobile-navbar">
            <img src="../static/images/menu-white.png" id="hum">
      </section>
      <div id="body-overlay" class="off-eff"></div>
      <section id="mobile-dropdown">
         <div id="dropdpwn-container" class="dropdown-off">
            <img src="../static/images/times.png" id="quit" class="off-eff">
            <ul>
               <a href="/about">
                  <li>About</li>
               </a>
               <a href="#ancho-features">
                  <li>Features</li>
               </a>
               <a href="#ancho-stories">
                  <li>Victory stories</li>
               </a>
               <a href="/contact-us">
                  <li>Contact us</li>
               </a>
               <a href="/login">
                  <li>Login</li>
               </a>
               <a href="/signup">
                  <li>Sign up</li>
               </a>
            </ul>
         </div>
      </section>

      <section id="navbar">
         <div id="img-cont"><a href="/"><img src="../static/images/BEFIT.png"></a></div>
         <ul>
            <a href="/about">
               <li>About</li>
            </a>
            <a href="#ancho-features">
               <li>Features</li>
            </a>
            <a href="#ancho-stories">
               <li>Victory Stories</li>
            </a>
            <a href="/contact-us">
               <li>Contact us</li>
            </a>
         </ul>
         <span>
            <a href="/login">
               <li class="span1">Login</li>
            </a>
            <a href="/signup" id="signup-btn">
               <li class="span1">Sign up</li>
            </a>
         </span>
      </section>
      <section class="showcase">
         <div class="video-container">
            <video src="../static/images/workout.mp4" autoplay muted loop></video>
         </div>
         <div class="content">
            <h1>Fitness starts with <br> what you eat.</h1>
            <h3> Take control of your goals. Track calories and log activities with Befit.</h3>
            <a href="/signup" id="home-btn">Start Now</a>
         </div>
      </section>
      <section id="features">
         <a id="ancho-features" class="anchor"></a>
         <h1 >The Tools for Your Goals</h1>
         <p class="f-p" style="color:black;">
            Trying to lose weight, tone up, lower your BMI, or invest in your overall health?<br> We give you the right features to hit your goals.
         </p>
         <div id="three-cards">
            <div class="f-cards">
               <img src="../static/images/a.svg">
               <h3>Learn. Track. Improve.</h3>
               <p>Keeping a food diary helps you <br>understand your habits and<br> increases your likelihood of hitting <br>your goals.</p>
            </div>
            <div class="f-cards">
               <img src="../static/images/b.svg">
               <h3>Logging Simplified</h3>
               <p>Scan barcodes, save meals and <br>recipes, and use Quick Tools for<br> fast and easy food tracking.</p>
            </div>
            <div class="f-cards">
               <img src="../static/images/c.svg">
               <h3>Stay Motivated</h3>
               <p>Track your fitness activity <br>and join our community for <br>advice, tips, and support 24/7.</p>
            </div>
         </div>
         <a href="/signup" id="f-btn">START YOUR JOURNEY TODAY</a>
      </section>
      <section id="v-stories"  class="polka pattern">
         <a id="ancho-stories" class="anchor"></a>
         <h1>Victory Stories</h1>
         <p class="f-p v-str">
            When you reach your goals, our whole community celebrates with you. That’s over 200 million members sharing in your victory—using it to inspire their own journey.
         </p>
         <div>
            <!-- Css Carousel-->
            <div class="carrousel">
               <input type="radio" name="slides" id="radio-1" checked>
               <input type="radio" name="slides" id="radio-2">
               <input type="radio" name="slides" id="radio-3">
               <input type="radio" name="slides" id="radio-4">
               <ul class="slides">
                  <li class="slide">
                     <h2 class="car-h2">Education helped her lose 30 pounds</h2>
                     <p>
                        <q>Betfit gave me a wake up call to the way I was eating and made things clear what I needed to change.<br> i hope you do the same.</q> 
                        <span class="author">
                        <img src="https://cdn.christianpost.com/files/cache/image/10/11/101156_w_400_530.jpg">
                        Stephanie
                        </span>
                        </span>
                     </p>
                  </li>
                  <li class="slide">
                     <h2 class="car-h2">From fast-food addict to mindful eater</h2>
                     <p>
                        <q>I naturally fell into the concept of mindful eating… it takes 15-20 minutes for the food to hit your stomach, so I started eating slower.</q> 
                        <span class="author">
                        <img src="https://cdn.nicobar.com/media/images/products/2019/06/1560949414J13A9693.jpg">
                        Eric
                        </span>
                     </p>
                  </li>
                  <li class="slide">
                     <h2 class="car-h2">She was eager to make a change</h2>
                     <p>
                        <q>Now, when I have friends starting to run and getting frustrated, I tell them to just stick with it, eventually, you’ll get faster.<br>never give up.</q> 
                        <span class="author">
                        <img src="https://preview.thenewsmarket.com/Previews/ADID/StillAssets/507364_v2.JPEG">
                        Lori
                        </span>
                     </p>
                  </li>
               </ul>
               <div class="slidesNavigation">
                  <label for="radio-1" id="dotForRadio-1"></label>
                  <label for="radio-2" id="dotForRadio-2"></label>
                  <label for="radio-3" id="dotForRadio-3"></label>
               </div>
            </div>
         </div>
      </section>
      <section id="newsletter">
         <div id="news-container">
            <div class="image-half">
               <img src="../static/images/news.png">
            </div>
            <div class="content-half">
               <h2>Stay up to date with useful tips via our newsletter.</h2>
               <p>Subscribe to our newsletter and get the lastest healty recepies and tips to keep your body in shape.</p>
               <form action="/" method="POST">
                  <input type="email" name="m-l-email" id="m-l-email" placeholder="Your Email Address" required>
                  <input type="submit" value="Subscribe" id="submit-btn" >
               </form>
               <p class="rem">We won't spam you</p>
            </div>
         </div>
      </section>
      <footer>
         <div class="p1">
            <ul>
               <a href="#">
                  <li>About us</li>
               </a>
               <a href="#">
                  <li>Terms</li>
               </a>
               <a href="#">
                  <li>Privacy</li>
               </a>
               <a href="#">
                  <li>Contact us</li>
               </a>
               <a href="#">
                  <li>Careers</li>
               </a>
               <a href="#">
                  <li>Feedback</li>
               </a>
            </ul>
         </div>
         <p style="color: white; text-align: center; font-weight: 600;">stay connected :</p>
         <div class="p2">
            <a href="#"><i class="fab fa-facebook-square fa-3x"></i></a>
            <a href="#" ><i class="fab fa-twitter-square fa-3x"></i></a>
            <a href="#"><i class="fab fa-google-plus-square fa-3x"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-3x"></i></a>
            <a href="#" ><i class="fab fa-youtube-square fa-3x"></i></a>
            <a href="#"><i class="fab fa-instagram-square fa-3x"></i></a>
         </div>
         <div class="p3">
            <p>Copyright © 2020 Befit.  All rights reserved</p>
         </div>
      </footer>
      <script>

            let dropdown = document.getElementById('dropdpwn-container');
            let bodyOverlay = document.getElementById('body-overlay');
            let humButton = document.getElementById('hum');
            let quitButton = document.getElementById('quit');
           
            humButton.addEventListener('click' , function(){
               // if(dropdown.classList.contains('dropdown-off')){
                  document.body.classList.add('stop-scrolling');
                  dropdown.classList.add('dropdown-on');
                  bodyOverlay.classList.add('on-eff');
                  dropdown.classList.remove('dropdown-off');
                  bodyOverlay.classList.remove('off-eff');
                  quitButton.style.display='block';
            })

            quitButton.addEventListener('click',function(){
                 document.body.classList.remove('stop-scrolling');
                  dropdown.classList.remove('dropdown-on');
                  bodyOverlay.classList.remove('on-eff');
                  dropdown.classList.add('dropdown-off');
                  bodyOverlay.classList.add('off-eff');
                  quitButton.style.display='none';
            })


         // fixe navbar when scrolling
         $(document).ready(function() {
         
         $(window).scroll(function () {
             if ($(window).scrollTop() > 10) {
             $('#navbar').addClass('fixed');
             document.getElementById('navbar').style.position = "fixed"
             }
             if ($(window).scrollTop() < 10) {
             $('#navbar').removeClass('fixed');
             document.getElementById('navbar').style.position = "absolute"
             }
         });
         });
            
      </script>
   </body>
</html>